main{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  -o-flex-flow: row nowrap;
  flex-flow: row nowrap;
  width: 100%;
}

/*******NAV SECTION***********/
h1{
  text-align: center;
}
div.navPanel{
  display: block;
  box-shadow: 5px 0px 20px #888888;
  background-color: #747474;
  width: 300px;
  height: 684px;
}

div.navPanel ul.nav-top>li{
  position: relative;
  display: block;
  width: 100%;
  /*height: 20px;*/
  padding: 15px 10px;
  box-sizing: border-box;
  text-align: right;
  background-color: #333b3f;
}
div.navPanel ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
div.navPanel a,div.navPanel span{
  text-transform: uppercase;
  font-family: Arial, Verdana, 'sans-serif';
}
div.navPanel a{
  text-decoration: none;
  color: #fff;
}
div.navPanel ul.nav-top li:first-child{
  background-color: #24156b;
}

/*********** DIAMONDS SECTION ***********/
section.diamondsSection{
  display: flex;
  margin-top: 50px;
}
section.diamondsSection ul{
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
}
section.diamondsSection ul li{
  padding: 20px;
  box-sizing: border-box;
}
section.diamondsSection ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button.logout{
  position: absolute;
  top: 20px;
  right: 20px;
}
button.logout{
  width: 150px;
  align-self: center;
  background-color: #24156b;
  color: #eee;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 8px;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 10px;
}
button.logout:hover{
  background-color: #13045a;
}
button.logout:active{
  background-color: #02045a;
}
