<main>
    <section class="navSection">
        <h1>
          <img src="../assets/img/MAIN-SCREEN.png" alt="logo">
        </h1>
        <div class="navPanel">
            <ul class="nav-top">
              <li><a routerLink="/diamonds">My Diamonds</a></li>
              <li><a>New Image</a></li>
            </ul>
        </div>
    </section>
    <section class="diamondsSection">
        <ul class="diamondsList">
          <li *ngFor="let diamond of diamonds">
            <a [routerLink]="['/diamond', diamond._id]">
              <img src="{{diamond.compiled_img_url}}" alt="diamond">
            </a>
          </li>
        </ul>
    </section>
</main>
<button class="logout" (click)="logout()">Logout</button>